<html>
    <head>
            <title>VSCode Extension Downloader</title>
    </head>
    <body>
        <form method="GET">
                VSCode Extension URL: <input type="string" name="url" id="ul" placeholder="https://marketplace.visualstudio.com/items?itemName=publisher.extension_name">
                <input type=submit>
        </form>
        <br><br>
        <a href="https://marketplace.visualstudio.com/">[Marketplace]</a>
        <br><br>
        <iframe src="https://marketplace.visualstudio.com/" id="marketplace" style="width:100%; height:60%;">enable iframes</iframe>
    </body>
</html>

